doctype html
html
  head
    title #{title}
    link(rel="stylesheet", type="text/css", href="/css/syntax.css").
    script(type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js")
    script(type="text/javascript" src="/js/syntax-nodes.js")
    script(type="text/javascript")
      :coffee-script
        window.ast =
          name: { iden: "Hello" }
          decls: []
          suite: []
        window.onload = ->
          React.render(React.createElement(Program, ast),
                       document.getElementById('mount'))
  body
    :markdown
      [React.js](https://facebook.github.io/react/)
      demo by [michal j wallace](http://tangentstorm.com/)
    #mount.
      (react stuff will appear here)
